*:not(head) {
  display: block;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Vollkorn", serif; }

#top-menu {
  background-color: #b3e0ff;
  display: flex;
  left: 0;
  padding: 0.5em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001; }
  #top-menu .logo {
    height: 40px;
    background-color: #b3e0ff; }
  #top-menu #register {
    display: flex;
    padding-top: 0.5em;
    padding-right: 3em;
    text-decoration: none;
    background-color: #b3e0ff;
    color: black; }
    #top-menu #register:hover {
      text-decoration: underline; }
    #top-menu #register i {
      background-color: transparent; }
    #top-menu #register p {
      display: inline;
      padding-left: 10px;
      color: black;
      background-color: transparent; }
    #top-menu h3
    {
        padding-top: 6px;
        padding-right: 10px;
    }
  #top-menu #profileimage {
    display: flex;
    text-decoration: none;
    padding-right: 1em; }
    #top-menu #profileimage:focus {
      color: black; }
    #top-menu #profileimage img {
      width: 40px;
      height: 40px;
      text-align: center;
      margin-right: 20px; }
    #top-menu #profileimage span {
      line-height: 40px;
      padding-right: 30px; }
  #top-menu #signout {
    display: flex;
    padding-right: 2em;
    text-align: center;
    text-decoration: none; }
    #top-menu #signout .fa-sign-out {
      padding: 11px;
      text-align: center;
      margin-right: 20px; }

@media only screen and (max-width: 500px) {
  #top-menu {
    display: flex;
    left: 0;
    padding: 0.5em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1001; }
    #top-menu .logo {
      height: 40px;
      background-color: #b3e0ff; }
    #top-menu #register {
      display: flex;
      padding-top: 0.5em;
      padding-right: 3em;
      text-decoration: none;
      background-color: #b3e0ff;
      color: black; }
      #top-menu #register:hover {
        text-decoration: underline; }
      #top-menu #register i {
        background-color: transparent; }
      #top-menu #register p {
        display: inline;
        padding-left: 10px;
        color: black;
        background-color: transparent; }
    #top-menu #profileimage {
      display: flex;
      text-decoration: none;
      padding-right: 1em; }
      #top-menu #profileimage:focus {
        color: black; }
      #top-menu #profileimage img {
        width: 40px;
        height: 40px;
        text-align: center;
        margin-right: 20px; }
      #top-menu #profileimage span {
        line-height: 40px;
        padding-right: 30px; }
    #top-menu #signout {
      display: flex;
      padding-right: 2em;
      text-align: center;
      text-decoration: none; }
      #top-menu #signout .fa-sign-out {
        padding: 11px;
        text-align: center;
        margin-right: 20px; } }
#profilepic-bar {
  background-color: #383838;
  left: 90px;
  right: 0;
  padding-top: 0.1em;
  padding-bottom: 1em;
  top: 0;
  left: 80px;
  margin-top: 56px;
  margin-left: 80px; }
  #profilepic-bar img {
    height: 200px;
    margin-left: 42%; }

#left-sectioninfo {
  margin-left: 80px; }
  #left-sectioninfo h1 {
    padding: 1.5em; }
  #left-sectioninfo #line {
    width: 15%;
    border: solid red;
    margin-left: 200px;
    float: left; }
  #left-sectioninfo #editform {
    padding-left: 5em;
    padding-top: 1em; }
    #left-sectioninfo #editform label {
      padding: 1em;
      font-size: 1.5em; }
    #left-sectioninfo #editform #right-label {
      margin-top: -375px;
      margin-left: 600px; }

@media only screen and (max-width: 800px) {
  #profilepic-bar {
    background-color: #383838;
    left: 90px;
    right: 0;
    padding-top: 0.1em;
    padding-bottom: 1em;
    top: 0;
    margin-top: 56px;
    margin-left: 0px; }
    #profilepic-bar img {
      height: 150px;
      margin-left: 35%;
      background-position: center;
      background-size: cover; }

  #left-sectioninfo {
    margin-left: 30px; }
    #left-sectioninfo h1 {
      padding: 0em;
      font-size: 2em;
      margin-top: 20px;
      margin-left: 40px; }
    #left-sectioninfo #line {
      display: none; }
    #left-sectioninfo #editform {
      padding-left: 2em;
      padding-top: 1em; }
      #left-sectioninfo #editform label {
        padding: 1em;
        font-size: 1.1em; }
      #left-sectioninfo #editform #right-label {
        margin-top: -375px;
        margin-left: 600px; } }
#sidebar {
  background: #383838;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 50px;
  width: 80px;
  z-index: 1000; }
  #sidebar nav ul li {
    padding-top: 50%;
    list-style: none; }
    #sidebar nav ul li a {
      opacity: 0.3; }
      #sidebar nav ul li a.active {
        opacity: 1; }
      #sidebar nav ul li a:hover {
        opacity: 1; }
    #sidebar nav ul li i {
      margin-top: 50px; }
    #sidebar nav ul li #homeicon {
      margin-left: -24px; }
    #sidebar nav ul li #newspapericon {
      margin-left: -28px; }
    #sidebar nav ul li #newfile {
      margin-left: -22px; }
    #sidebar nav ul li #calendaricon {
      margin-left: -24px; }
    #sidebar nav ul li #envelopeicon {
      margin-left: -25px; }

@media only screen and (max-width: 800px) {
  #sidebar {
    background: #383838;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 50px;
    width: 60px;
    z-index: 1000;
    font-size: 0.7em; }
    #sidebar nav ul li {
      padding-top: 50%;
      list-style: none; }
      #sidebar nav ul li a {
        opacity: 0.3; }
        #sidebar nav ul li a.active {
          opacity: 1; }
        #sidebar nav ul li a:hover {
          opacity: 1; }
      #sidebar nav ul li i {
        margin-top: 50px; }
      #sidebar nav ul li #homeicon {
        margin-left: -27px; }
      #sidebar nav ul li #newspapericon {
        margin-left: -29px; }
      #sidebar nav ul li #newfile {
        margin-left: -24px; }
      #sidebar nav ul li #calendaricon {
        margin-left: -25px; }
      #sidebar nav ul li #envelopeicon {
        margin-left: -27px; } }
#allbody {
  margin-top: 5em;
  margin-left: 80px;
  margin-right: 10px; }
 #allbody #askaquestionarea{
    padding-left: 20px;
}
  #allbody #askaquestionarea p {
    font-size: 2em;
    padding-top: 20px; }

#questionform {
  padding: 1em;
  display: flex; }
  #questionform #input-question {
    margin-left: 100px;
    background: transparent; }
  #questionform #button-post {
    background: transparent;
    border: 0;
    margin-right: 600px;
    padding-left: 2em; }

#question-line {
  width: 60em;
  margin-left: 5em; }

#sortbyandpinnedline {
  display: flex;
  padding-top: 1em;
  margin-left: 40em; }
  #sortbyandpinnedline #pinned-posts {
    display: flex;
    margin-left: 100px; }
    #sortbyandpinnedline #pinned-posts i {
      padding-right: 10px; }

#comments-page {
  display: flex; }
  #comments-page #commentsarea {
    width: 70%; }

#user-comment1{
    margin-left: 20px;
  }
#user-comment1 #postsection{
    border-style: solid;
    border-width: medium;
    padding: 5px;
    background-color:#b3e0ff;
}

#verticalline {
  border-right: solid #808080;
  height: 20em; }

.onclick-menu {
  position: relative;
  display: inline-block; }

.onclick-menu:before {
  content: "Sort by"; }

.onclick-menu:focus {
  /* clicking on label should toggle the menu */
  pointer-events: none;
  outline: 0; }

.onclick-menu:focus .onclick-menu-content {
  /*  opacity is 1 in opened state (see below) */
  opacity: 1;
  visibility: visible;
  /* don't let pointer-events affect descendant elements */
  pointer-events: auto; }

.onclick-menu-content {
  position: absolute;
  z-index: 1;
  list-style: none;
  text-decoration: none;
  /* use opacity to fake immediate toggle */
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s; }
  .onclick-menu-content button {
    background: transparent;
    border: 0;
    margin-left: -40px; }

#pinnedcommentsuserimage {
  margin-left: 60px; }

#pinnedcomments #username {
  margin-top: 20px;
  padding-left: 10px;
  width: 200px; }
#pinnedcomments #timeago {
  font-size: 10px;
  text-align: left;
  width: 150px;
  padding-left: 10px; }
#pinnedcomments #usercomment {
  font-size: 12px;
  border-style: groove #username;
  margin-top: 20px;
  padding-left: 10px;
  width: 200px; }
#pinnedcomments #timeago {
  font-size: 10px;
  text-align: left;
  width: 150px;
  padding-left: 10px; }
#pinnedcomments #usercomment {
  font-size: 12px;
  border-style: groove;
  width: 400px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 10px; }

@media only screen and (max-width: 800px) {
  #allbody {
    margin-right: 10px; }
    #allbody #askaquestionarea p {
      font-size: 1.5em;
      padding-top: 20px;
      margin-left: -80px; }

  #questionform {
    padding: 1em;
    display: flex; }
    #questionform #input-question {
      background: transparent;
      margin-left: 30px; }
    #questionform #button-post {
      background: transparent;
      border: 0;
      margin-right: 600px;
      padding-left: 2em; }

  #question-line {
    width: 18em;
    margin-left: 10px;
    border: 1px solid black; }

  #sortbyandpinnedline {
    display: flex;
    padding-top: 1em;
    margin-left: 6em; }
    #sortbyandpinnedline #dropdown-icon {
      display: none; }
    #sortbyandpinnedline #pinned-posts {
      display: flex; }

  .user-image {
    height: 40px;
    margin-left: 0em;
    margin-top: 1em; }

  #user-comment1 #username {
    margin-top: 20px;
    padding-left: 10px;
    width: 200px; }
  #user-comment1 #timeago {
    font-size: 10px;
    text-align: left;
    width: 150px;
    padding-left: 10px; }
  #user-comment1 #usercomment {
    font-size: 12px;
    border-style: groove;
    width: 20em;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px; }
  #user-comment1 .likesystem {
    padding-left: 20px;
    margin-top: 10px;
    float: left;
    font-size: 0.8em; }
  #user-comment1 #postmessage {
    margin-left: 30px;
    margin-top: 30px; }
    #user-comment1 #postmessage #input-question {
      width: 200px !important;
      float: left;
      padding: 5px;
      margin-left: -250px; }
    #user-comment1 #postmessage button {
      background: transparent;
      border: 0;
      padding: 5px; }
    #user-comment1 #postmessage #pinnedcommentsFuserimage {
      display: none; }

  #verticalline {
    display: none; }

  .onclick-menu {
    position: relative;
    display: inline-block; }

  .onclick-menu:before {
    content: "Sort by"; }

  .onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
    outline: 0; }

  .onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;
    /* don't let pointer-events affect descendant elements */
    pointer-events: auto; }

  .onclick-menu-content {
    position: absolute;
    z-index: 1;
    list-style: none;
    text-decoration: none;
    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s; }
    .onclick-menu-content button {
      background: transparent;
      border: 0;
      margin-left: -40px; }

  #pinnedcommentsuserimage {
    display: none; }

  #pinnedcomments {
    display: none; } }
.calendar {
  border: 1px solid #000; }
  .calendar .invisible {
    display: none; }
  .calendar header {
    display: flex; }
    .calendar header a {
      line-height: 5em;
      margin: 0 2em;
      flex: 1; }
      .calendar header a.next {
        text-align: right; }
    .calendar header h1 {
      text-align: center; }
  .calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden; }
    .calendar ul li {
      float: left;
      width: 14.28571%; }
    .calendar ul.calendar-days li {
      height: 5em;
      overflow: hidden; }
      .calendar ul.calendar-days li:nth-child(2n) {
        background-color: #eee; }
      .calendar ul.calendar-days li.disabled {
        background-color: #ccc; }
      .calendar ul.calendar-days li span {
        float: right;
        margin: 1em; }

#registerpage {
  margin-top: 100px;
  background-color: grey;
  margin-left: 300px;
  margin-right: 300px;
  padding: 0.5em; }
  #registerpage header h1 {
    text-align: center;
    margin-left: -300px;
    padding-top: 20px; }
  #registerpage #registerform {
    margin: 0 auto;
    width: 50%; }
    #registerpage #registerform .input-pair {
      display: flex;
      padding: 0.5em;
      margin-left: 75px; }
      #registerpage #registerform .input-pair label {
        width: 5em; }
      #registerpage #registerform .input-pair input {
        margin: 0;
        flex: 1;
        border-radius: 5px;
        outline: none; }
    #registerpage #registerform #button-submit {
      border: 0;
      margin-left: 450px; }
      #registerpage #registerform #button-submit:hover {
        box-shadow: 1px 1px 1px black; }

#notes-takingpage {
  margin-left: 80px;
  overflow: hidden; }
  #notes-takingpage .site-control {
    display: none; }
  #notes-takingpage #toggle-app-sidebar:checked ~ #app-sidebar {
    left: 0; }
  #notes-takingpage #app-content {
    padding: 3.5em 0.75em 0.75em; }
  #notes-takingpage #app-header .fa {
    margin-top: 80px; }
  #notes-takingpage #app-sidebar {
    background-color: #202020;
    bottom: 0;
    color: #fff;
    left: -100%;
    margin-top: 56px;
    margin-left: 5%;
    position: fixed;
    top: 0;
    width: 15%;
    z-index: 1001;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out; }
  #notes-takingpage #app-sidebar .fa {
    font-size: 1.5em;
    float: right;
    padding: 1em; }
  #notes-takingpage #app-sidebar #app-options li {
    border-top: 1px solid rgba(255, 255, 255, 0.25); }
  #notes-takingpage #app-sidebar #app-options a {
    color: #fff;
    padding: 0.75em;
    text-decoration: none; }
  #notes-takingpage #app-sidebar #app-options a:active {
    background-color: rgba(255, 255, 255, 0.15); }
  #notes-takingpage #app-sidebar #app-options a i {
    margin: 0.1em 0.25em 0 0;
    text-align: center;
    width: 1.75em; }
  #notes-takingpage #notes-bottomcontainer {
    margin-left: 250px; }
    #notes-takingpage #notes-bottomcontainer #titleoptions {
      display: flex;
      margin-left: 20px; }
      #notes-takingpage #notes-bottomcontainer #titleoptions label {
        padding-right: 10px; }
      #notes-takingpage #notes-bottomcontainer #content{
        padding-left: 70px;
        padding-top: 20px; }
      #notes-takingpage #notes-bottomcontainer #btnsave{
        margin-left: 500px;
      }
@media only screen and (max-width: 800px) {
  #notes-takingpage {
    margin-left: 80px;
    overflow: hidden;
    margin-top: 60px !important; }

  .site-control {
    display: none; }

  #toggle-app-sidebar:checked ~ #app-sidebar {
    left: 0; }

  #app-content {
    padding: 3.5em 0.75em 0.75em; }

  #app-header .fa {
    margin-top: 0px !important; }

  #app-sidebar {
    background-color: #202020;
    bottom: 0;
    color: #fff;
    left: -100%;
    margin-top: 56px;
    margin-left: 13% !important;
    position: fixed;
    top: 0;
    width: 25% !important;
    z-index: 1001;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;
    -ms-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out; }

  #app-sidebar .fa {
    font-size: 1.5em;
    float: right;
    padding: 1em; }

  #app-sidebar #app-options li {
    border-top: 1px solid rgba(255, 255, 255, 0.25); }

  #app-sidebar #app-options a {
    color: #fff;
    padding: 0.75em;
    text-decoration: none; }

  #app-sidebar #app-options a:active {
    background-color: rgba(255, 255, 255, 0.15); }

  #app-sidebar #app-options a i {
    margin: 0.1em 0.25em 0 0;
    text-align: center;
    width: 1.75em; }

  #notes-bottomcontainer {
    margin-left: 0px !important; }
    #notes-bottomcontainer #titleoptions {
      margin-left: 20px !important; }
      #notes-bottomcontainer #titleoptions label {
        padding-right: 10px; }
      #notes-bottomcontainer #titleoptions #input-title {
        width: 50% !important; }
    #notes-bottomcontainer textarea {
      margin-top: 20px !important;
      resize: none;
      margin-left: 30px;
      width: 80%; }
    #notes-bottomcontainer #buttons {
      display: flex;
      margin-right: 17% !important;
      float: right;
      margin-top: 15px;
      height: 30px; }
      #notes-bottomcontainer #buttons .buttonsave {
        color: white;
        background-color: black;
        border: 0;
        opacity: 0.7;
        width: 100px; }
        #notes-bottomcontainer #buttons .buttonsave:hover {
          opacity: 1; } }
#loggedinhomepage {
  margin-left: 60px;
  margin-right: 10px; }

#mainimage {
  background-color: black;
  background: url(../images/hero_coding-1140x640.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  margin-top: 50px; }

#dividerinfo1 {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px; }
  #dividerinfo1 #image1 {
    background-color: black;
    background: url(../images/57376.jpg);
    height: 400px;
    width: 1300px;
    background-size: cover;
    background-position: center; }
  #dividerinfo1 #righttext #title1 {
    font-size: 2em;
    text-align: center; }
  #dividerinfo1 #righttext #maintext {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }

#dividerinfo2 {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 100px; }
  #dividerinfo2 #lefttext {
    width: 50%; }
    #dividerinfo2 #lefttext #title2 {
      font-size: 2em;
      text-align: center; }
  #dividerinfo2 #maintext {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }
  #dividerinfo2 #image2 {
    background-color: black;
    background: url(../images/Betterment_InnovativeNavigation-1280x720.jpg);
    height: 400px;
    width: 50%;
    background-size: cover;
    background-position: center; }

#eventsimages {
  display: flex;
  padding-top: 20px;
  padding-bottom: 100px; }
  #eventsimages .image {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 33.33333%;
    padding: 0 20px;
    background-size: cover; }
    #eventsimages .image img {
      height: 250px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    #eventsimages .image span {
      background-color: transparent;
      bottom: -100px;
      position: absolute;
      left: 20px;
      font-size: 30px;
      right: 0;
      font-size: 2em;
      padding-bottom: 20px;
      padding-left: 10px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    #eventsimages .image:hover img {
      opacity: 0.7; }
    #eventsimages .image:hover span {
      bottom: 0; }

#signinpage {
  margin-top: 150px; }
  #signinpage #sign-inmain {
    margin-top: 50px;
    display: flex;
    height: 25em; }
    #signinpage #sign-inmain #colorleft {
      background-color: #96989b;
      width: 30%;
      margin-left: 20%; }
      #signinpage #sign-inmain #colorleft h1 {
        margin-top: 60px;
        margin-left: 40px; }
      #signinpage #sign-inmain #colorleft #signinform {
        margin-top: 20px; }
        #signinpage #sign-inmain #colorleft #signinform #emailadd {
          width: 20em;
          margin-left: 18%;
          border: 2px solid #303133;
          padding: 7px;
          margin-top: 30px; }
        #signinpage #sign-inmain #colorleft #signinform #password {
          width: 20em;
          margin-left: 18%;
          border: 2px solid #4c4c4c;
          margin-top: 30px;
          padding: 7px; }
        #signinpage #sign-inmain #colorleft #signinform #forgotcreate {
          text-align: center; }
          #signinpage #sign-inmain #colorleft #signinform #forgotcreate a {
            font-size: 0.8em;
            text-decoration: none;
            color: black;
            padding-top: 15px;
            display: inline-block;
            text-align: center; }
        #signinpage #sign-inmain #colorleft #signinform #sign-in {
          color: white;
          width: 20em;
          margin-top: 20px;
          margin-left: 50%; }
        #signinpage #sign-inmain #colorleft #signinform #signinwith {
          display: none;
          width: 75%; }
          #signinpage #sign-inmain #colorleft #signinform #signinwith span {
            margin-top: 20px;
            margin-left: 80px; }
          #signinpage #sign-inmain #colorleft #signinform #signinwith #facebooklogin4app {
            width: 190px;
            margin-left: 0px; }
          #signinpage #sign-inmain #colorleft #signinform #signinwith #googlelogin4app {
            width: 170px;
            margin-left: 10px; }
    #signinpage #sign-inmain #colorright {
      background-color: #babec4;
      width: 30%; }
      #signinpage #sign-inmain #colorright span {
        text-align: center;
        margin-top: 100px; }
      #signinpage #sign-inmain #colorright #facebooklogin {
        width: 200px;
        margin-left: 100px; }
      #signinpage #sign-inmain #colorright #googlelogin {
        width: 180px;
        margin-left: 110px; }

@media only screen and (max-width: 800px) {
  #signinpage {
    margin-top: 80px;
    width: 100% !important; }

  #sign-inmain {
    margin-top: 0px !important; }
    #sign-inmain #colorleft {
      background-color: #fff !important;
      margin-left: 18% !important;
      width: 100% !important;
      height: 70%; }
      #sign-inmain #colorleft h1 {
        display: none;
        margin-top: 0px !important;
        margin-left: 0px !important; }
      #sign-inmain #colorleft .image4app {
        background: url(../images/logo.png);
        width: 70px;
        height: 70px;
        background-position: center;
        background-size: cover;
        margin-left: 60px; }
      #sign-inmain #colorleft #signinform {
        margin-top: 20px;
        margin-left: 0% !important; }
        #sign-inmain #colorleft #signinform #emailadd {
          width: 15em !important;
          margin-left: 0% !important;
          border: none !important;
          padding: 7px !important;
          background-color: #808080;
          opacity: 0.6;
          -webkit-border-radius: 7px;
          border-radius: 7px;
          outline: none; }
        #sign-inmain #colorleft #signinform #password {
          width: 15em !important;
          margin-left: 0% !important;
          border: none !important;
          padding: 7px !important;
          margin-top: 20px !important;
          background-color: #808080;
          opacity: 0.6;
          -webkit-border-radius: 7px;
          border-radius: 7px;
          outline: none; }
        #sign-inmain #colorleft #signinform #forgotcreate {
          text-align: center;
          display: flex;
          margin-left: 2% !important;
          width: 12em; }
          #sign-inmain #colorleft #signinform #forgotcreate a {
            margin-top: -10px !important;
            font-size: 0.7em !important; }
        #sign-inmain #colorleft #signinform #sign-in {
          color: white;
          background-color: green !important;
          width: 13em !important;
          margin-top: 20px;
          margin-left: 3% !important;
          padding-top: 5px !important;
          padding-bottom: 5px !important; }
        #sign-inmain #colorleft #signinform #signinwith {
          width: 75%;
          display: inline !important; }
          #sign-inmain #colorleft #signinform #signinwith span {
            margin-top: 20px;
            margin-left: 80px; }
          #sign-inmain #colorleft #signinform #signinwith #facebooklogin4app {
            width: 190px;
            margin-left: 0px; }
          #sign-inmain #colorleft #signinform #signinwith #googlelogin4app {
            width: 170px;
            margin-left: 10px; }
    #sign-inmain #colorright {
      background-color: #babec4;
      width: 30%;
      display: none; }
      #sign-inmain #colorright span {
        text-align: center;
        margin-top: 100px; }
      #sign-inmain #colorright #facebooklogin {
        width: 200px;
        margin-left: 100px; }
      #sign-inmain #colorright #googlelogin {
        width: 180px;
        margin-left: 110px; } }
#contact-page {
  margin-top: 70px;
  margin-left: 100px;
  display: flex;
  padding-top: 30px; }
  #contact-page #border-bar {
    border: 1px solid #383838;
    padding-bottom: 80px;
    width: 60%;
    margin-left: 40px; }
    #contact-page #border-bar #header-bar {
      background-color: #383838;
      padding: 20px; }
    #contact-page #border-bar #sendto {
      margin-left: 100px;
      margin-top: 30px; }
      #contact-page #border-bar #sendto p {
        float: left;
        padding-right: 10px; }
      #contact-page #border-bar #sendto select {
        float: left;
        width: 10%; }
    #contact-page #border-bar #contact-text-box textarea {
      margin-top: 80px;
      margin-left: 100px;
      width: 70%;
      padding-bottom: 20%;
      resize: none; }
    #contact-page #border-bar #sendmessage {
      background-color: #383838;
      color: white;
      float: right;
      border: 0;
      margin-top: 20px;
      margin-right: 130px;
      padding: 5px;
      opacity: 0.7;
      width: 60px; }
      #contact-page #border-bar #sendmessage:hover {
        opacity: 1; }
  #contact-page #right-side {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    width: 25%; }
    #contact-page #right-side #top-bar {
      background-color: #383838;
      padding: 20px; }
    #contact-page #right-side h1 {
      margin-left: 20px;
      margin-top: 10px; }
    #contact-page #right-side #message {
      border: 1px solid black;
      margin: 20px;
      padding: 5px; }
    #contact-page #right-side .fa-trash {
      float: right;
      padding-right: 15px; }
    #contact-page #right-side .fa-reply {
      float: right;
      margin-right: 45px; }

@media only screen and (max-width: 800px) {
  #contact-page {
    margin-top: 70px;
    margin-left: 60px;
    display: flex;
    padding-top: 30px; }

  #border-bar {
    border: 1px solid #383838;
    padding-bottom: 80px;
    width: 80% !important;
    margin-left: 40px; }
    #border-bar #header-bar {
      background-color: #383838;
      padding: 20px; }
    #border-bar #sendto {
      margin-left: 20px !important;
      margin-top: 30px; }
      #border-bar #sendto p {
        float: left;
        padding-right: 10px; }
      #border-bar #sendto select {
        float: left;
        width: 30% !important; }
    #border-bar #contact-text-box textarea {
      margin-top: 80px;
      margin-left: 20px !important;
      width: 80% !important;
      padding-bottom: 20%;
      resize: none; }
    #border-bar #sendmessage {
      background-color: #383838;
      color: white;
      float: right;
      border: 0;
      margin-top: 20px;
      margin-right: 15% !important;
      padding: 5px;
      opacity: 0.7;
      width: 60px; }
      #border-bar #sendmessage:hover {
        opacity: 1; }

  #right-side {
    display: none;
    margin-left: 5% !important;
    margin-right: 5%;
    border: 1px solid black;
    width: 25%; }
    #right-side #top-bar {
      background-color: #383838;
      padding: 20px; }
    #right-side h1 {
      margin-left: 20px;
      margin-top: 10px; }
    #right-side #message {
      border: 1px solid black;
      margin: 20px;
      padding: 5px; }
    #right-side .fa-trash {
      float: right;
      padding-right: 15px; }
    #right-side .fa-reply {
      float: right;
      margin-right: 45px; } }
#testtext {
  color: red;
  margin-left: 90px; }

.flex-space {
  flex: 1;
  background-color: #b3e0ff; }

#indexpage #mainimage {
  background-color: black;
  background: url(../images/hero_coding-1140x640.jpg);
  height: 600px;
  background-size: cover;
  background-position: center; }
#indexpage #dividerinfo1 {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px; }
  #indexpage #dividerinfo1 #image1 {
    background-color: black;
    background: url(../images/57376.jpg);
    height: 400px;
    width: 1300px;
    background-size: cover;
    background-position: center; }
  #indexpage #dividerinfo1 #righttext #title1 {
    font-size: 2em;
    text-align: center; }
  #indexpage #dividerinfo1 #righttext #maintext {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }

#dividerinfo2 {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 100px; }
  #dividerinfo2 #lefttext {
    width: 50%; }
    #dividerinfo2 #lefttext #title2 {
      font-size: 2em;
      text-align: center; }
  #dividerinfo2 #maintext {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }
  #dividerinfo2 #image2 {
    background-color: black;
    background: url(../images/Betterment_InnovativeNavigation-1280x720.jpg);
    height: 400px;
    width: 50%;
    background-size: cover;
    background-position: center; }
  #dividerinfo2 #eventsimages {
    display: flex;
    padding-top: 20px;
    padding-bottom: 100px; }
    #dividerinfo2 #eventsimages .image {
      height: 200px;
      overflow: hidden;
      position: relative;
      width: 33.33333%;
      padding: 0 20px;
      background-size: cover; }
      #dividerinfo2 #eventsimages .image img {
        height: 250px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      #dividerinfo2 #eventsimages .image span {
        background-color: transparent;
        bottom: -100px;
        position: absolute;
        left: 20px;
        font-size: 30px;
        right: 0;
        font-size: 2em;
        padding-bottom: 20px;
        padding-left: 10px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      #dividerinfo2 #eventsimages .image:hover img {
        opacity: 0.7; }
      #dividerinfo2 #eventsimages .image:hover span {
        bottom: 0; }

@media only screen and (max-width: 800px) {
  #indexpage #mainimage {
    background-color: black;
    background: url(../images/hero_coding-1140x640.jpg);
    height: 250px;
    background-size: cover;
    background-position: center; }
  #indexpage #dividerinfo1 #image1 {
    background-color: black;
    background: url(../images/57376.jpg);
    height: 200px;
    width: 800px;
    background-size: cover;
    background-position: center; }
  #indexpage #dividerinfo1 #righttext {
    display: none; }
  #indexpage #dividerinfo2 {
    margin-top: 20px;
    margin-bottom: 20px; }
    #indexpage #dividerinfo2 #lefttext {
      display: none; }
      #indexpage #dividerinfo2 #lefttext #title2 {
        display: none; }
    #indexpage #dividerinfo2 #maintext {
      display: none; }
    #indexpage #dividerinfo2 #image2 {
      background-color: black;
      background: url(../images/Betterment_InnovativeNavigation-1280x720.jpg);
      height: 200px;
      width: 800px;
      background-size: cover;
      background-position: center;
      left: 0; }
  #indexpage #eventsimages {
    display: none;
    padding-top: 10px;
    padding-bottom: 50px; }
    #indexpage #eventsimages .image {
      height: 200px;
      overflow: hidden;
      position: relative;
      width: 33.33333%;
      padding: 0 20px;
      background-size: cover; }
      #indexpage #eventsimages .image img {
        height: 250px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      #indexpage #eventsimages .image span {
        background-color: transparent;
        bottom: -100px;
        position: absolute;
        left: 20px;
        font-size: 20px;
        right: 0;
        padding-bottom: 20px;
        padding-left: 10px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
      #indexpage #eventsimages .image:hover img {
        opacity: 0.7; }
      #indexpage #eventsimages .image:hover span {
        bottom: 0; } }
