#loggedinhomepage {
  margin-left: 60px;
  margin-right: 10px; }

#mainimage {
  background-color: black;
  background: url(../images/hero_coding-1140x640.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  margin-top: 50px; }

#dividerinfo1 {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px; }
  #dividerinfo1 #image1 {
    background-color: black;
    background: url(../images/57376.jpg);
    height: 400px;
    width: 1300px;
    background-size: cover;
    background-position: center; }
  #dividerinfo1 #righttext #title1 {
    font-size: 2em;
    text-align: center; }
  #dividerinfo1 #righttext #maintext {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }

#dividerinfo2 {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 100px; }
  #dividerinfo2 #lefttext {
    width: 50%; }
    #dividerinfo2 #lefttext #title2 {
      font-size: 2em;
      text-align: center; }
  #dividerinfo2 #maintext {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }
  #dividerinfo2 #image2 {
    background-color: black;
    background: url(../images/Betterment_InnovativeNavigation-1280x720.jpg);
    height: 400px;
    width: 50%;
    background-size: cover;
    background-position: center; }

#eventsimages {
  display: flex;
  padding-top: 20px;
  padding-bottom: 100px; }
  #eventsimages .image {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 33.33333%;
    padding: 0 20px;
    background-size: cover; }
    #eventsimages .image img {
      height: 250px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    #eventsimages .image span {
      background-color: transparent;
      bottom: -100px;
      position: absolute;
      left: 20px;
      font-size: 30px;
      right: 0;
      font-size: 2em;
      padding-bottom: 20px;
      padding-left: 10px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
    #eventsimages .image:hover img {
      opacity: 0.7; }
    #eventsimages .image:hover span {
      bottom: 0; }
